<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">
  <header>
    <%- include('header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-7">
        <h2 class="center">Learning about Leaders is Fun</h2>
        <div class="jumbotron">
         
          <ul class="pol">
            <% for( let i = 0; i < leaders.length; i++ ) { %>
              <li class="pol">
                <span><%= leaders[i].name %></span>:
        
                <span><%= leaders[i].born %></span>:
                <span><%= leaders[i].about %></span>:
                <span><%= leaders[i].tenure %></span>:
                <span><%= leaders[i].country %></span>:
                <span><%= leaders[i].url %></span>:
                <span><%= leaders[i].office_post %></span>:
              </li>
            <% } %>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <h3>Leader Personal Profile</h3>

         
        </div>
      </div>
    
    </div>
  </main>

 
  
    
  </section>
</body>
</html>